//mobile first - 375px
@media screen and (min-width: 375px) {
    body{
        margin: 0;
        padding: 0;
        background:  url(../images/pattern-background-mobile.svg), hsl(225, 100%, 94%);
        background-position: top;
        background-repeat: no-repeat;
        background-blend-mode: darken;
        height: 709px;
        width: 375px;
        border: solid 2px hsla(225, 100%, 94%, 0);
        .card{
            width: 323.7px; //323.7px
            height: 564.5px; //564.5px
            border-radius: 20px;
            margin: auto;
            margin-top: 70px;
            background-color: #ffffff;
            box-shadow: 0 13px 15px 5px hsla(224, 23%, 55%, 0.13);
            .card_img{
                height: 157.5px; //157.5px
                width: auto;
                background-image: url("../images/illustration-hero.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
            .card_text{
                font-family: 'Red Hat Display', sans-serif;
                background-color: #ffffff;
                .card_text_title{
                    text-align: center;
                    font-weight: 900;
                    font-size: 23px;
                    color: hsl(223, 47%, 23%);
                    margin-top: 38.3px-6.96px+6px;
                    .title{
                        margin: 0;
                        padding: 0;
                    }
                }
                .card_text_paragraph{
                    margin:0;
                    margin-top: 28.4px-5.22px-6px;
                    text-align: center;
                    font-weight: 500;
                    font-size: 15px;
                    letter-spacing: 0.01em;
                    line-height: 26px;
                    width: 265px;
                    margin-left: auto;
                    margin-right: auto;
                    color: hsl(224, 23%, 55%);
                }
                .card_text_info{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 24px;
                    width: 278px;
                    height: 81px;
                    background: hsl(225, 100%, 98%);
                    border-radius: 15px;
                    .musicimg{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                    .data{
                        display: flex;
                        flex-direction: column;
                        transform: translateX(-15px);
                        gap: 37px*0.1;
                        font-size: 14px;
                        .data_title{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            .data_title_paragrap{
                                margin: 0;
                                color: hsl(223, 47%, 23%);
                                    font-weight: 900;
                            }
                        }
                        .data_price{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            .data_price_number{
                                margin: 0;
                                color: hsl(224, 23%, 55%);
                            }
                        }

                    }
                    .change{
                        font-size: 13px;
                        font-weight: 700;
                        .change_anchor{
                            color: hsl(245, 75%, 52%);
                        }
                    }
                    
                }
                .card_text_pay{
                    margin: 0;
                    text-align: center;
                    margin-top: 23px;
                    .card_text_pay_button{
                        width: 275px;
                        background-color: hsl(245, 75%, 52%);
                        border-radius: 15px;
                        border: none;
                        box-shadow: 0 13px 20px 5px hsla(224, 23%, 55%, 0.3);
                        a{
                            text-decoration: none;
                        }
                        .card_text_pay_button_paragraph{
                            font-size: 14px;
                            font-weight: 700;
                            color: hsl(225, 100%, 98%);
                        }
                    }
                }
                .card_text_cancel{
                    
                    margin: 0;
                    text-align: center;
                    margin-top: 26px-6px;
                    .card_text_cancel_button{
                        width: 275px;
                        background-color: transparent;
                        border-radius: 15px;
                        border: none;
                        a{
                            text-decoration: none;
                        }
                        .card_text_cancel_button_paragraph{
                            font-size: 14px;
                            font-weight: 700;
                            color: hsl(224, 23%, 55%);
                            margin: 0;
                        }
                    }
                }
            }

        }
        

    }
}

@media screen and (min-width: 1440px) {
    body{
        margin: 0;
        padding: 0;
        height: 900px;
        width: 1440px;
        
        background:  url(../images/pattern-background-desktop.svg), hsl(225, 100%, 94%);
        background-position: -30px -70px;
        background-repeat: no-repeat;
        background-size: 110%;
        background-blend-mode: darken;
        
        font-family: 'Red Hat Display', sans-serif;
        main{
            // height: 100vh;
            // width: 100%;
        }
        .card{
            width: 447.5px;
            height: 694.9px;
            border-radius: 20px;
            margin-left: 476.25px;
            margin-right: 476.25px;
            margin-top: 100px;
            background-color: #ffffff;
            box-shadow: 0 13px 15px 5px hsla(224, 23%, 55%, 0.13);
            .card_img{
                height: 219px;
                width: auto;
                background-image: url("../images/illustration-hero.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
            }
            .card_text{
                font-family: 'Red Hat Display', sans-serif;
                background-color: #ffffff;
                .card_text_title{
                    text-align: center;
                    font-weight: 900;
                    font-size: 28px;
                    color: hsl(223, 47%, 23%);
                    margin-top: 54.5px-14.96px+6px;
                    .title{
                        margin: 0;
                        padding: 0;
                    }
                }
                .card_text_paragraph{
                    margin:0;
                    margin-top: 28.4px-5.22px-6px;
                    text-align: center;
                    font-weight: 500;
                    font-size: 15.5px;
                    letter-spacing: 0.01em;
                    line-height: 26px;
                    width: 321px;
                    margin-left: auto;
                    margin-right: auto;
                    color: hsl(224, 23%, 55%);
                }
                .card_text_info{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: center;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: 18px;
                    width: 356px;
                    height: 97.5px;
                    background: hsl(225, 100%, 98%);
                    border-radius: 15px;
                    .musicimg{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                    }
                    .data{
                        display: flex;
                        flex-direction: column;
                        transform: translateX(-37.7px);
                        gap: 37px*0.1;
                        font-size: 16.3px;
                        .data_title{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            .data_title_paragrap{
                                margin: 0;
                                color: hsl(223, 47%, 23%);
                                font-weight: 900;
                                word-spacing: 1px;
                                font-stretch: ultra-condensed;
                                
                            }
                            
                        }
                        .data_price{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            .data_price_number{
                                margin: 0;
                                color: hsl(224, 23%, 55%);
                                font-size: 16.3px;
                            }
                        }
    
                    }
                    .change{
                        font-size: 14px;
                        font-weight: 900;
                        .change_anchor{
                            color: hsl(245, 75%, 52%);
                        }
                    }
                    
                }
                .card_text_pay{
                    margin: 0;
                    text-align: center;
                    margin-top: 32px;
                    .card_text_pay_button{
                        width: 356px;
                        background-color: hsl(245, 75%, 52%);
                        border-radius: 10px;
                        border: none;
                        box-shadow: 0 13px 20px 5px hsla(224, 23%, 55%, 0.3);
                        a{
                            text-decoration: none;
                        }
                        .card_text_pay_button_paragraph{
                            font-family: 'Red Hat Display', sans-serif;
                            font-size: 15px;
                            font-weight: 700;
                            color: hsl(225, 100%, 98%);
                            letter-spacing: 0.3px;
                        }
                    }
                }
                .card_text_cancel{
                    
                    margin: 0;
                    text-align: center;
                    margin-top: 33px;
                    .card_text_cancel_button{
                        width: 275px;
                        background-color: transparent;
                        border-radius: 15px;
                        border: none;
                        a{
                            text-decoration: none;

                        }
                        .card_text_cancel_button_paragraph{
                            font-size: 15px;
                            font-weight: 900;
                            color: hsl(224, 23%, 55%);
                            margin: 0;
                            font-family: 'Red Hat Display', sans-serif;
                        }
                    }
                }
            }
    
        }
        
    
    }
}